<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/gonsanchezs">Gonzalo</a> while learning how to code. 
  </p>
  <br />
  <p>
    Gonzalo runs the Marketing team at a remote eCommerce startup, and mentors at <a target="_blank" href="http://brandery.org"> The Brandery</a>. He writes about startups, growth, design and happines at his <a target="_blank" href=http://gonsanchez.com>blog</a>.
  </p>

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'profile.jpg', class: 'img-responsive' %>
    </div>

    <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Gonzalo Sanchez</h2>
    <br />
    <p>
      Gonzalo is an experienced marketer and designer. He currently lives in Argentina, but he has visited over 500 cities while working remotely.</p>
    </div>

    <br class="clear" />
    <br />


</div>